export KUBE_CONTEXT=toc
export KUBE_NAMESPACE=$USER
export RELEASE=$USER-integration
export IMAGE_REGISTRY=registry.toc.systems
export BUILD_TARGET=development
export BUILD_NPM_RC=~/.npmrc
export DEFAULT_DNS_DOMAIN=toc.systems
export IMAGE_PULL_SECRETS=

# Place local overrides for the above in .envrc.local
if [[ -f .envrc.local ]]; then
  source .envrc.local
fi

if [[ -z "$IMAGE_PULL_SECRETS" ]]; then
  # Any values --set in here will add/replace those in helm/values.yaml
  export HELM_DEPLOY_PARAMS="\
    --set backend.exampleVarName=value \
    --set imagePullSecrets=false"
else
  # Any values --set in here will add/replace those in helm/values.yaml
  export HELM_DEPLOY_PARAMS="\
    --set backend.exampleVarName=value \
    --set imagePullSecrets[0].name=$IMAGE_PULL_SECRETS"
fi
