export KUBE_CONTEXT=minikube
export KUBE_NAMESPACE=fieldtwin-integration
export RELEASE=fieldtwin-integration
export LOGGING_LEVEL="debug"
export SENTRY_DSN=""
export IMAGE_REGISTRY=img.lvh.me
export DEFAULT_DNS_DOMAIN=lvh.me
export CLOUD_TYPE="onpremise"
export IMAGE_PULL_SECRETS="regkey"
export CLUSTER_NAME=dev
export INSTANCE_ID=dev
export BUILD_TARGET=development
export BUILD_NPM_RC=~/.npmrc

export FIELDAP_API_BASE_URL="http://futureon-backend.lvh.me"
export BACKEND_URL="http://fieldtwin-integration-backend.${DEFAULT_DNS_DOMAIN}"

# Frontend vars
export VITE_APP_BACKEND_URL="${BACKEND_URL}"
export VITE_FIELDAP_API_BASE_URL="${FIELDAP_API_BASE_URL}"

# Place local overrides for the above in .envrc.local
if [[ -f .envrc.local ]]; then
  echo "Loading local environment variables from .envrc.local"
  source .envrc.local
fi

if [[ -z "$IMAGE_PULL_SECRETS" ]]; then
  # Any values --set in here will add/replace those in helm/values.yaml
  export HELM_DEPLOY_PARAMS="\
    --set noenforcehttps=true \
    --set image.registry=${IMAGE_REGISTRY} \
    --set backend.appBackendURL=${BACKEND_URL} \
    --set backend.backendHostname=${FIELDAP_API_BASE_URL} \
    --set backend.frontendHostname=${DEFAULT_DNS_DOMAIN} \
    --set backend.sentryDSN=${SENTRY_DSN} \
    --set backend.release=${RELEASE} \
    --set frontenduser.isEvaluation=true \
    --set cloudType=${CLOUD_TYPE}"
else
  # Any values --set in here will add/replace those in helm/values.yaml
  export HELM_DEPLOY_PARAMS="\
    --set noenforcehttps=true \
    --set image.registry=${IMAGE_REGISTRY} \
    --set backend.appBackendURL=${BACKEND_URL} \
    --set backend.backendHostname=${FIELDAP_API_BASE_URL} \
    --set backend.frontendHostname=${DEFAULT_DNS_DOMAIN} \
    --set backend.sentryDSN=${SENTRY_DSN} \
    --set backend.release=${RELEASE} \
    --set frontenduser.isEvaluation=true \
    --set cloudType=${CLOUD_TYPE} \
    --set imagePullSecrets[0].name=${IMAGE_PULL_SECRETS}"
fi
