export KUBE_CONTEXT=toc
export KUBE_NAMESPACE=mattfozard
export IMAGE_REGISTRY=registry.toc.systems
export BUILD_TARGET=development
export DEFAULT_DNS_DOMAIN=toc.systems
export RELEASE=$USER-integration
